@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{font-family: "Libre Baskerville", serif;}

*{
    color:rgb(28, 54, 54)
}

ol li{
    font-weight: 700;
}

main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-img{
    width: 10vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

#description{
    text-align: center;
    font-size: 0.7em;
}

#intro{
    font-size: 1em;
    font-weight: 500;
}

h1{
    font-weight: 900;
    text-align: center;
}

h6{
    text-align: center;
    opacity: 50%;
    font-size: 0.8em;
}

picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

#focaccia{
    border-radius: 10px;
    width:100%;
}

.ingredients{
    text-align: left;
}

.featured > h3{
    margin-bottom: 0;
    font-size: 0.9em;
}

.featured > h4{
    margin-top: 0;
    font-size: 0.9em;
}

.featured{
    padding-left: 1em;
    border-left: 2px solid orange;
}

.ingredients>h2, h3{
    margin-top: 2em;
    margin-bottom: 1.5em;
}

hr{
    opacity: 50%;
}

.method{
    margin-top:5em; 
}

ol > li{
    margin-bottom: 2em;
}

ul>li{
    margin-top: 1em;
}

footer{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

footer > h5{
    padding-left: 5rem;
}

.description-panel{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(253, 255, 196);
    border-top: 2px solid yellow
}

.featured > h3{
    color: rgb(255, 80, 30);
}

@media (min-width: 319px) and (max-width: 480px) {
    main{
        width: 90%;
    } 

    #focaccia {
      width: 90vw;
    }
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    main{
        width: 90%;
    } 

    #focaccia {
        width: 80vw;
      }
  }

  @media (min-width: 1601px) {
    /* dopo la lezione aggiungere funzionalità */
  }